body {
  color: black;
}

.wrapper {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}

.header {
  display: table-row;
  height: 1px;

}

.main {
  height: 100%;
  display: table;
  width: 100%;
}

.box {
  display: table-cell;
}

.sidebar {
  width: 100px;
  height: 100%;
  position: relative;

}
.menu{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.footer {
  display: table-row;
  height:1px;
  color: #ffffff;
}

.navbar-right {
  margin-right: 0px;
}

/* Basic Style*/
* { margin:0; padding:0;}
html, body { height: 100%; }
/*button { padding: 5px 10px;position:fixed;bottom: 50px;right:0px;left:0px;margin:auto; width: 200px; display: block; -webkit-appearance: none;background: @orange; outline: none;  border: 2px solid #DB9E36; color: @yellow; border-radius: 10px; box-shadow: 0 2px 3px rgba(0,0,0,0.5);cursor: pointer;}*/
/*button:active {border-color: @beige; color:@beige;}*/


.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
}

.td.center, th.center {
  text-align: center;
}

.th {
  font-weight: bold;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  /* border-bottom: 1px solid #e2e2e4; */
  color: #5b5b60 !important;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
/** Pagination **/
/* ------------- */
.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}

/** Editable table **/
/* ---------------- */

.editable-table > tbody > tr > td {
  padding: 4px
}
.editable-text {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}
.editable-table tbody > tr > td > .controls {
//width: 100%
}
.editable-input {
  padding-left: 3px;
}
.editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}




