<div ng-controller="CreateUserCtrl">

<div class="jumbotron">
  <h2>Create a new user!</h2>

  <form class="form-horizontal" ng-submit="submitAddUserForm()" id="add-user-form" name="adduser" >
    <fieldset>

      <div class="row-fluid">

        <div class="col-md-8">

          <!-- Form Name -->
          <legend >Personal Information:</legend>

          <!-- Name input-->
          <div class="control-group form-group"  ng-class="{'has-error':adduser.name.$invalid &&
                                adduser.name.$dirty}"> <!-- dirty = user has already interacted with the form -->
            <label class="col-md-2 col-lg-2 control-label">Name</label>
            <div class="col-md-8 col-lg-8">
              <!-- For this input field make it required, and have a max length of 25 -->
              <input type="text" class="form-control" placeholder="e.g. Nikola Tesla" name="name" ng-model="addUserForm.name" ng-maxlength="50" required>
            </div>
            <span class="help-block has-error" ng-if="adduser.name.$dirty">
              <span ng-show="adduser.name.$error.required">Name is required.</span>
              <span ng-show="adduser.name.$error.maxlength">The name cannot be more than 50 characters.</span>
            </span>
          </div>

          <!-- Surname input-->
          <div class="form-group">
            <label class="col-md-2 col-lg-2 control-label" >Surname</label>
            <div class="col-md-8 col-lg-8">
              <input id="surname" name="surname" type="text" placeholder="Tesla" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Email input-->
          <div class="form-group ">
            <label class="col-md-2 col-lg-2 control-label" >Email</label>
            <div class="col-md-8 col-lg-8">
              <input type="email" class="form-control" placeholder="nikola@tesla.com" name="email" ng-model="addUserForm.email" required >
                <span class="help-block has-error" ng-if="adduser.email.$dirty">
                  <span ng-show="adduser.email.$error.required">Email address is required.</span>
                  <span ng-show="adduser.email.$error.email">Not a valid email address.</span>
                </span>
            </div>
          </div>

          <!-- Password input-->
          <div class="form-group ">
            <label class="col-md-2 col-lg-2 control-label" >Password</label>
            <div class="col-md-8 col-lg-8">
              <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="addUserForm.password" id="password" required ng-minlength="6" compare-to="addUserForm.confirmPassword" >
                <span class="help-block has-error" ng-if="adduser.password.$dirty">
                  <span ng-show="adduser.password.$error.required">Password is required.</span>
                  <span ng-show="adduser.password.$error.minlength">Password must be at least 6 characters.</span>
                </span>
            </div>
          </div>

          <!-- Password input-->
          <div class="form-group ">
            <label class="col-md-2 col-lg-2 control-label" >Retype password</label>
            <div class="col-md-8 col-lg-8">
              <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="addUserForm.confirmPassword" required>
                <span class="help-block has-error" ng-if="adduser.confirmation.$dirty">
                  <span ng-show="adduser.password.$error.compareTo">Password must match.</span>
                  <span ng-show="adduser.confirmation.$error.required">Confirmation password is required.</span>
                </span>
            </div>
          </div>

        </div> <!-- col-md-8 -->

        <div class="col-md-4">

          <legend>User Profile Picture:</legend>

          <img src="images/user-avatar.jpg" class="img-responsive" alt="Rounded Image" style="display: block; margin-left: auto; margin-right: auto">

          <br>

          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Upload Avatar:</label>
            <div class="col-md-4">
              <input id="filebutton" name="useravatar" class="input-file" type="file" ng-change="uploadAvatarImage()" ng-model="addUserForm.avatar">
            </div>
          </div>

        </div> <!-- col-md-4 -->

      </div> <!-- row-fluid -->

      <div class="row-fluid"></div>

      <div class="row-fluid">

        <div class="col-md-8">

          <legend >Job details:</legend>

          <!-- Button Drop Down -->
          <div class="form-group">
            <label class="col-md-2 col-lg-2 control-label" >Position</label>
            <div class="col-md-8 col-lg-8">
              <div bs-dropdown
                   bs-dropdown-display="MyDropDown"
                   bs-dropdown-items="userRolesOptions"
                   ng-model="addUserForm.title"
                   ng-change="changeUserRole()">
              </div>

            </div>
          </div>


          <!-- Comments -->
          <div class="form-group">
            <label class="col-md-2 col-lg-2 control-label" for="comments">Comments</label>
            <div class="col-md-8 col-lg-8 ">
              <textarea class="form-control" id="comments" name="comments"></textarea>
            </div>
          </div>

        </div> <!-- col-md-8 -->

      </div> <!-- row-fluid -->


      <div class="row-fluid"></div>

      <div class="row-fluid">

        <div class="col-md-2 col-md-offset-10">

          <!-- Disable add button until the form has no errors -->
          <div class="form-group">
            <button class="col-md-2 col-lg-2 btn btn-success btn-lg btn-block" type="submit" ng-disabled="adduser.$invalid">
              <span ng-show="!addUserForm.loading">Create</span>
            </button>
            <button class="col-md-2 col-lg-2 btn btn-primary btn-lg btn-block" type="reset" >
              <span >Reset</span>
            </button>
          </div>

        </div>

      </div>

    </fieldset>
  </form>

</div>
</div>
