<!--
Mainwindow of Administrator:
Administrator's actions (add, show etc) are represented as directives (see below)
All directives are hidden by default.
When Admin selects an action this action triggers ng-show attribute of the appropriate directive
-->

<div ng-controller="AdminMainWindowCtrl">

  <div ng-if="mainAdminActions.users">

    <create-user-directive ng-controller="CreateUserCtrl" ng-if="secondaryAdminActions.users.add">
      <p>create user directive is shown</p>
    </create-user-directive>

    <show-user-list-directive ng-controller="ShowListOfUsersCtrl" ng-if="secondaryAdminActions.users.list">
      <p>Another Directive is shown</p>
    </show-user-list-directive>



  </div>

  <div ng-if="mainAdminActions.statistics">

    <p>Nothing for statistics yet</p>


  </div>

</div>



