<ul class="nav navbar-nav navbar-left" ng-controller="UserActionsCtrl">

  <li>
    <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
  </li>
  <li>
    <a href="#" ng-click="createNewUserModal('lg',true)"><span class="glyphicon glyphicon-user"></span> AddModal</a>
  </li>
  <li>
    <a href="#" ng-click="selectMainAction('users')"><span class="glyphicon glyphicon-user"></span> Users</a>
  </li>
  <li>
    <a href="#" ng-click="selectMainAction('statistics')"><span class="glyphicon glyphicon-list-alt"></span> Statistics</a>
  </li>
</ul>
